{% load static %}
{% load custom_tags %}

<div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="{% url 'search' %}" method="get">
                                    <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search Posts" name="q">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                            </span>
                                    </div><!-- /input-group -->
                                </form>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src="{% static "img/blog/author.png" %}" alt="">
                                <h4>Charlie Barber</h4>
                                <p>Senior blog writer</p>
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-github"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                                <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Popular Posts</h3>
                                {% hit_posts as posts %}
                                {% for post in posts %}
                                <div class="media post_item">
                                    <img src="{{ post.image.url }}" href="{% url 'detail' pk=post.pk slug=post.slug %}" style="height: 60px;width:100px">
                                    <div class="media-body">
                                        <a href="{% url 'detail' pk=post.pk slug=post.slug %}"><h3>{{ post.title }}</h3></a>
                                        <p>Hit:{{ post.hit }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget">
                                <a href="#"><img class="img-fluid" src="{% static "img/blog/add.jpg" %}" alt=""></a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Post Catgories</h4>
                                <ul class="list cat-list">
                                {% categories as categories %}
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'category_detail' pk=category.id slug=category.slug %}" class="d-flex justify-content-between">
                                            <p>{{ category.title }}</p>
                                            <p>{{ category.post_count }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                                <div class="br"></div>
                            </aside>
                            <aside class="single-sidebar-widget tag_cloud_widget">
                                <h4 class="widget_title">Tag Clouds</h4>
                                <ul class="list">
                                    {% tags as tags %}
                                    {% for tag in tags %}
                                        <li><a href="{% url 'tag_detail' pk=tag.id slug=tag.slug %}">{{ tag.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        </div>
</div>