{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Login</h2>
						<div class="page_link">
							<a href="index.html">Home</a>
							<a href="single-blog.html">Login</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Login Form =================-->
        <section class="blog_area p_120 single-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        {% if not user.is_authenticated %}
                        <h4 style="text-align: center;">Kullanıcı Giriş Formu</h4>
                        <form method="post">{% csrf_token %}
                            {% if form.errors %}
                            <div id="errors">
                                <div class="inner">
                                    <p>Lütfen Aşağıdaki Hataları Kontrol Ediniz</p>
                                    <ul>
                                        {% for field in form %}
                                         {% if field.errors %}
                                         <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                              <div class="mt-10">
                                <input type="text" name="username" class="single-input" placeholder="Kullanıcı Adı" onblur="this.placeholder = 'Kullanıcı Adı'" required>
                              </div>
                            <div class="mt-10">
                                <input type="password" name="password" class="single-input" placeholder="Şifre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Şifre'" required>
                            </div>
                            <button type="submit" class="generic-btn submit_btn" style="margin-top: 30px" >Giriş Yap</button>
                        </form>
                        {% else %}
                        <h3 style="color:red;">Daha Önceden Giriş Yapıldı</h3>
                        {% endif %}
        			</div>
                    {% include 'right_side.html' %}
                </div>
            </div>
        </section>
        <!--================Login Form =================-->

{% endblock %}